<h1>Login</h1>
<form id="form-login">
    <label for="email">email</label>
    <input type="text" id="email" name="email">
    <label for="Senha">Senha</label>
    <input type="text" id="senha" name="senha"> 
    <button type="submit">Enviar</button>
</form>
<div id="resultado"></div>
<script src="/js/inputvalidation.js"></script>