<main id="login">
    <div>
        <h1>Olá,<br>Bem vindo de novo</h1>
        <p>Sentimos saudades :<</p>
        <form id="form-login">
            <label for="email">Email</label><br>
            <input type="text" id="email" name="email"><br>
            <label for="senha">Senha</label><br>
            <input type="password" id="senha" name="senha"><br>
            <div class="checkboxDiv">
                <input type="checkbox" class="checkboxInput">
                <span>Ver senha</span>
            </div>
            <button type="submit">Entrar</button>
        </form>
        <div id="resultado" class="esquerda"></div>
        <script src="/js/inputvalidation.js"></script>
    </div>

    <img src="/imgs/loginDia.png" alt="">
    
</main>