{{#if logado}}
<main id="minhaConta">
    <h2>Minha Conta</h2>
    <div id="card-minhaconta" class="{{classe}}">
        {{!-- menu lateral --}}
        <aside>
            <ul>
                <li><a href="/minhaconta"><img src="/imgs/icones/conta.png" alt=""><span>Minha Conta</span></a></li>
                <li><a href="/minhaconta/favoritos"><img src="/imgs/icones/favorito.png" alt=""><span>Favoritos</span></a></li>
                <li><a href="/minhaconta/config"><img src="/imgs/icones/configuracoes.png" alt=""><span>Configurações</span></a></li>
                <li><a href="/logout"><img src="/imgs/icones/botao-de-logout-da-web.png" alt=""><span>Deslogar</span></a></li>
            </ul>
        </aside>
        <section>
            {{#if minhaconta}}
                <h2>{{usuario.nome}}</h2>
                <p>{{usuario.email}}</p>
            {{/if}}
            {{#if favorito}}
                <p>Favoritos</p>
            {{/if}}
            {{#if config}}
                <p>Configurações</p>
            {{/if}}
        </section>
    </div>
</main>
{{/if}}